body {
  background-color: black;
  color: white;
  font-family: Avenir;
}

/* PARTE SUPERIOR "TASK" */
.principal {
  margin-top: 15%;
}
.task {
  position: relative;
  display: flex;
  justify-content: center;
}
.text-task {
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TEXTO DE CREATE+ */
.create {
  text-align: right;
  color: #ffbe00;
  font-size: 16px;
  line-height: 21px;
  margin-top: 12%;
  margin-right: 12%;
}

/* BARRA SUPERIOR */
.top-bar {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  color: white;
}

/* defined colors for top links */
.top-bar a:link {
  color: white;
}
.top-bar a:visited {
  color: white;
}
.top-bar a:hover {
  color: #ffbe00;
}

/* TASKS */

.top-up {
  margin-top: 5%;
  margin-left: 5%;
}
.up {
  display: flex;
  font-size: 16px;
  letter-spacing: 5;
  line-height: 26px;
  text-align: center;
}
.five {
  color: gray;
  size: 16px;
  margin-left: 10px;
}

/* CUADROS DE ORDENES */
.total-orders {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.rectangle {
  height: 106px;
  width: 171px;
  border-radius: 8px;
  background-color: #10161c;
  box-shadow: inset -2px -2px 4px 0 #040b11, inset 2px 2px 4px 0 #1c232a,
    0 13px 9px 0 #000000;
}

.order-number {
  height: 20px;
  width: 119px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
}
.progress {
  display: flex;
  justify-content: space-between;
  height: 20px;
  color: #c1c7d0;
  font-size: 12px;
}

.name {
  height: 14px;
  width: 89px;
  color: #c1c7d0;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}
.lines {
  display: flex;
}
.line-one {
  height: 10px;
  background-color: #ffbe00;
  width: 20%;
  height: 1px;
}
.line-two {
  height: 10px;
  background-color: #494c50;
  width: 80%;
  height: 1px;
}
.day {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  color: #c1c7d0;
  height: 14px;
  width: 62px;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 14px;
  top: 10%;

  /* posicion a la derecha */
}

/* STATISTICS */
.stati {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.sta {
  height: 24px;
  width: 69px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
}
.guardar {
  width: 20px;
  height: 50px;
}

/* MINI-LOGOS */

.logo-total {
  width: 20px;
  height: 50px;
  color: #0364ff;
}
.logo-completed {
  width: 20px;
  height: 50px;
  color: #0ee881;
}
.logo-in {
  width: 20px;
  height: 50px;
  color: #ffd200;
}
.logo-delayed {
  width: 20px;
  height: 50px;
  color: #ff5252;
}

.number-svg {
  height: 20px;
  width: 22px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
}
.text-svg {
  height: 19px;
  width: 92px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
}

.projects {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
}
.total {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.total-down {
  height: 50%;
  width: 50%;
}
/* BOTTOM BAR */

.bottom-bar {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 10%;
}
.bottom-bar a:link {
  color: white;
}

.bottom-bar a:visited {
  color: white;
}
.bottom-bar a:hover {
  color: #ffbe00;
}
.precio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  font-size: 45px;
}
.logo-price {
  font-size: 22px;
}
.grafica {
  display: flex;
  align-content: stretch;
  justify-content: center;
  position: relative;
}
.circle {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  margin-left: 35%;
}
.vertical-line {
  position: absolute;
  width: 1px;
  box-sizing: border-box;
  height: 150px;
  border: 1px solid #ffffff;
  opacity: 0.2;
  margin-bottom: 0%;
  margin-left: 35%;
}

.months {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
}
.months a:link {
  color: white;
}

.months a:visited {
  color: white;
}
.months a:hover {
  color: #ffbe00;
}

.bottom-rectangle {
  border-radius: 8px;
  background-color: #10161c;
  box-shadow: inset -2px -2px 4px 0 #040b11, inset 2px 2px 4px 0 #1c232a,
    0 13px 9px 0 #000000;
}

/* FOOTER-BAR-IMG */

.footer-img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  margin-top: 20%;
}
